.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-name {
  margin: 10px 0;
  font-size: 1.5rem;
}

.project-details {
  padding: 15px;
  background-color: white;
  border-top: 1px solid #ddd;
  text-align: left;
}

.project-icons i {
  margin: 5px;
  font-size: 24px;
}

.link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
